.wrapper {
    display: inline-block;
    position: relative;
    height: 100%;
}

.wrapper img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.wrapper .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

.open {
    float:left;
    padding-top: 12px;
padding-left: 10px;    

}

.overlay h6 {
    padding-top: 2%;
}

.overlay h2 {
    padding-top: 12%;
    padding-bottom: 20px;
    font-size: 4vw;
}



.overlay input {
    margin: 10px;
}

.overlay a {
    text-decoration: none;
    border: none;
    color: white;
    font-style: none;
    color: none;
}

.overlay #output_place {
    margin-top: 5%;
    background: white;  /* optional: just make scrollbar invisible */
    color: black;
    overflow-y: auto;
    height:280px;
}
